.square {
    max-width: 100px;
    max-height: 100px;
    width: 100px;
    height: 100px;
    border: double;
    background-color: #F4F4F4;
    cursor: pointer;
    opacity: 1;
    font-weight: bold;
    font-size: 30px;
    line-height: 0;
}
.square:hover {
    opacity: 0.6;
}
.board {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    border: 1px black;
    box-sizing: border-box;

}
.displayPlayer {
    font-weight: bold;
    font-size: 30px;
}
